.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--black);

  background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(/static/signin-bg.jpg);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  padding: 2rem 0;
}

.headerWrapper {
  padding: 0 1rem;
  display: flex;
}

.logoLink {
  display: flex;
  font-weight: 500;
  align-items: center;
  color: var(--white10);
  margin-bottom: 1rem;
}

.logoWrapper {
  color: var(--red);
  width: 8rem;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;

  z-index: 10;
  justify-content: center;
}

.mainWrapper {
  display: flex;
  flex-direction: column;

  padding-bottom: 6rem;
  padding-top: 2rem /* 32px */;
  background-color: var(--black20);

  height: 33.333333%;
  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;

  border-radius: 0.375rem /* 6px */;
  min-width: 240px;
}

.signinHeader {
  color: var(--white10);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem /* 32px */;
}

.emailInput {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;

  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;

  color: var(--black30);

  width: 100%;
  padding-bottom: 1rem /* 16px */;

  height: 3rem /* 48px */;
  min-width: 240px;
  font-size: 1.2rem;
}

.userMsg {
  margin-top: 0.25rem /* 4px */;
  margin-bottom: 0.25rem /* 4px */;
  color: var(--white20);
}

.loginBtn {
  background-color: var(--red10);

  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;

  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;

  color: var(--white10);
  width: 100%;

  border-radius: 0.375rem /* 6px */;
  margin-top: 1.5rem /* 24px */;
}

@media (min-width: 768px) {
  .headerWrapper {
    padding-left: 4rem /* 64px */;
    padding-right: 4rem /* 64px */;
    flex-direction: row;
    align-items: center;
  }

  .logoLink {
    margin-bottom: 0px;
  }

  .mainWrapper {
    margin-top: 2rem /* 128px */;
  }
}
